<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wangqian.happinesshunter">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <application
        android:name=".HappinessHunterApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">

        </activity>
        <activity android:name=".activity.IndexActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.DiaryActivity"
            android:label="@string/app_name" >

        </activity>
        <activity
            android:name=".activity.EditPositiveActivity" android:windowSoftInputMode="adjustPan|stateHidden"
            android:label="@string/title_activity_diary_add" >
        </activity>
        <activity
            android:name=".activity.EditNegativeActivity" android:windowSoftInputMode="adjustPan|stateHidden"
            android:label="@string/title_activity_diary_add" >
        </activity>
        <activity android:name=".activity.DiaryReviewActivity"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />

        <activity android:name=".WordCloudActivity"/>
        <activity android:name=".WordRecordListActivity"/>
        <activity android:name=".activity.ListActivity"/>
        <activity android:name=".activity.AlarmActivity"/>

        <receiver android:name=".activity.AlarmReceiver" android:process=":remote">

        </receiver>
    </application>

</manifest>